body {
  padding: 20px;
  margin: 0px;
  font-size: 16px;
  text-align: center;
}

#app {
  width: 320px;
}

#qrcode {
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  margin: 0 auto;
}

input {
  text-align: center;
  width: 80%;
  height: 24px;
  margin: 20px 0;
  font-size: 16px;
  outline: none;
}

a {
  color: #666;
}

footer {
  color: #999;
  font-size: 12px;
}
